/* css styles */


/* copied thumnail (default was 200px) from https://github.com/beatrizmilz/blog-en/blob/main/styles.css */

/* div.quarto-post .thumbnail img {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
}*/
